.DS_Store
node_modules/
logs
dist
*.log
*.pem
*.xpi
*.zip
*.crx
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity
.npm
.eslintcache
*.tsbuildinfo
.env*
web-ext-artifacts
.web-extension-id